.profile{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile__info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile__avatar{
  height: 56px;
  width: 56px;
  border: 1px rgba(0, 0, 0, .5) solid;
  border-radius: 50%;
}

.profile__name{
  margin: 0 0 0 16px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  padding: 0;
}

.profile__cards-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 71%;
}

.profile__section-heading{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile__cards-title{
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}

.profile__add-button{
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  color: rgba(0, 0, 0, .6);
  margin: 0 0 0 20px;
}

.profile__cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  grid-auto-flow: row;
  gap: 20px;
  list-style-type: none;
  margin: 16px 0 0 0;
  padding: 0;
}