.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__cards-wrapper{
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main__section-heading{
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  padding: 0;
}

.main__cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  grid-auto-flow: row;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}